[submodule "nuttx"]
	path = nuttx
	url = https://github.com/PX4-NuttX/nuttx.git

[submodule "cmake/uavcan_board_ident"]
	path = cmake/uavcan_board_ident
	url = https://github.com/PX4/uavcan_board_ident.git

